.water1{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    left: 50%;
    background:#E5E5E5;
    
}
.rightwater1{
    display: flex;
    justify-content: center;
    align-items: center;
  height: 90%;
    width:78%;
    top: 5%;
    right: 8%;
    position: absolute;
  border-radius: 15px;
  background:#ffff;
}

.water1-img{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 10%;
    width: 22px;
    height: 35px;

}

.water-arrow{
    left: 50px;
    top: 10%;
    z-index: 2;
}
.writeup1{
    display: flex;
    align-items: center;
    justify-content: center;
    top: 15%;
    font-size: 12px;
    position: absolute;
    color: #4473B7;
    font-weight: 800;
    font-family: poppins;
}

.water-form{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 90%;
    width:78%;
    top: 5%;
    right: 8%;
    flex-direction: column;
    font-family: poppins;
}

.water-pressure{
    left: 100px;
    top: 28%;
    font-size: 13px;
    font-weight: 600;
    position: absolute;
}
#water-pressure{
    left: 100px;
    top: 32%;
    height: 40px;
    width: 300px;
    border-radius: 5px;
    border: none; outline: none;
    border: solid 2px #DADCE0;
	border-width: thin;
    position: absolute;
}

.water-temperature{
    left: 100px;
    top: 44%;
    font-size: 13px;
    font-weight: 600;
    position: absolute;
}
#water-temperature{
    left: 100px;
    top: 48%;
    height: 40px;
    width: 300px;
    border-radius: 5px;
    position: absolute;
    border: none; outline: none;
    border: solid 2px #DADCE0;
	border-width: thin;
}

.water-initial{
    left: 100px;
    top: 60%;
    font-size: 13px;
    font-weight: 600;
    position: absolute;
}
#water-initial{
    left: 100px;
    top: 64%;
    height: 40px;
    width: 300px;
    border-radius: 5px;
    border: none; outline: none;
    border: solid 2px #DADCE0;
	border-width: thin;
    /* border-color: #DADCE0; */
    position: absolute;
}
input[type="text"]::placeholder { 
    padding-left: 25px;
}
.btn-water-modal{
    font: poppins;
    position: absolute;
    bottom: 20%;
    width: 140px;
    height: 35px;
    left: 44%;
    background:#4473B7;
    border: none;
    border-radius: 5px;
    color: #ffff;
    z-index: 2;
}
.water-sw{
    display: flex;
    align-items: center;
    font: poppins;
    position: absolute;
    bottom:-60%;
    left: 45%;
    color: #111;
    font-size: 10px;
    z-index: 1;
}
.water-sp{
    display: flex;
    align-items: center;
    font: poppins;
    position: absolute;
    bottom:-60%;
    left: 53%;
    color: #E5AA33;
    font-size: 10px;
    z-index: 1;
}


@media (max-width: 912px) { 
 
    .water1{
     display: flex;
     justify-content: center;
     height: 100%;
     width: 100%;
     position: fixed;
     z-index: 1;
     top: 0;
     overflow-x: hidden;
     left: 0;
     background:#edededef;
     
   }
   .rightwater1{
    height: 90%;
    width: 85%;
   }
   .water1-img{
    width: 35px;
    height: 80px;
   }
   .writeup1{
       top: 17%;
       font-size: 16px;

   }
   .water-arrow{
    top: 15%;  
}
.water-form{
    width:90%;
    right: 0;
}

.water-pressure{
    left: 10px;
    top: 30%;
    font-size: 14px;
}
#water-pressure{
    left: 10px;
    top: 34%;
    width: 270px;
}

.water-temperature{
    left: 10px;
    top: 45%;
    font-size: 14px;
}
#water-temperature{
    left: 10px;
    top: 49%;
    width: 270px;
}

.water-initial{
    left: 10px;
    top: 60%;
    font-size: 14px;
}
#water-initial{
    left: 10px;
    top: 64%;
    height: 40px;
    width: 270px;
}

.btn-water-modal{
    width: 150px;
    height: 45px;
    left: 32%;
    font-size: 17px;
}
.water-sw{
    left: 31%;
    font-size: 13px;
}
.water-sp{
    left: 47%;
    font-size: 13px;
}

}

