.mud{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.left{
    height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  left: 0;
  background:#ffff;
}
.mudware{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 35%;
    left:32% ;
    height: 35px;
    width: 200px;
}

.sub{
    display: flex;
    align-items: center;
    justify-content: center;
    top: 41%;
    left:29% ; 
    position: absolute;
    color: #4473B7;
    font-size:13px ;
    font-family: poppins;
}

/* .right{
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    background:#E5E5E5;
    right: 0;
  
} */

@media (max-width: 912px) { 
    .left{
     display: none;
   }
   /* .right{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffff */
    /* position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    background:#E5E5E5;
    right: 0; */
   
   /* .left{
    height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  right: 0;
  background:#ffff;
} */
}
  